$brand-primary: #de1e25;
$brand-default: #333333;
$brand-primary-text: #FFFFFF;
$brand-bg:#333;
$nameplate-label-default-bg:transparent;
$solid-color: #de1e25;
$solid-default-color:#888;

$navbar-default-border:#FFFFFF;
$navbar-default-link-hover-color: #de1e25;;
$navbar-default-link-active-color: #de1e25;
$navbar-default-bg: #FFFFFF;
$navbar-default-link-color: #333333;

$content-background:#f8f4ec;
$brand-aux: #ffbf36;

$breadcrumb-padding-vertical: 1em;
$breadcrumb-padding-horizontal: 0em;
$breadcrumb-bg: $brand-bg;
$breadcrumb-bg-aux: #444;
$breadcrumb-color: #de1e25;
$breadcrumb-border-top:5px solid #384045;
$breadcrumb-border-bottom:5px solid #CCC;
$breadcrumb-active-color: #de1e25;

$card-border: #00468A;
$card-link-color: #de1e25;

$nameplate-label-default-bg:transparent;